* {
    margin: 0;
    height: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

@keyframes colorBody {
    0% {
        background-color: #2c2929;
    }

    50% {
        background-color: #0f0f0f;
    }

    100% {
        background-color: #2c2929;
    }
}

body {
    width: 100vw;
    height: 100vh;
    animation: colorBody 30s infinite;
}

.container {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.container h2,
.container h4 {
    margin-top: 5px;
    text-align: center;
    height: 50px;
    color: #000;
}

.container h4 {
    height: 30px !important;
    padding-left: 10px;
    text-align: start !important;
}

.dados {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 15px;
    padding-bottom: 15px;
}

.dados input {
    height: 30px;
    padding-left: 0.5rem;

}
